#clear
{
    clear: both;
}
:root
{
    --main-: #880E4F ;
    
}
*
{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

#landing
{
    min-height:100vh;
    background-image: url(1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


#overlay
{
    background-color: #000000c7;
    z-index: 1;
    position: absolute;
    width:100%;
    height: 100%;    
}


#landing #header
{
    position: relative;
    width: 100%;
    height: 80px;
    padding: 17px;
    z-index: 2;
    display: flex;
}

#landing #header #logo
{
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    width: 30%;
}

#landing #header ul
{
    cursor: pointer;
    line-height: 37px;
    margin-right: 60px;
    font-size: 20px;
    text-align: right;
    width:70%; 
}

#landing #header ul li
{
    /* cursor: pointer; */
    display: inline-block;
    margin-left: 20px;
}
#landing #header ul li a:hover,#landing #header ul li a#fir 
{
    color: var(--main-);
}

#landing #intro
{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#landing #intro h1
{
    font-size:37px;    
}

#landing #intro h1 span
{
    color:var(--main-);
}

#setting-box
{
    width: 244px;
    background-color: #ffffffc2;
    position: fixed;
    left: -250px;
    top: 0;
    z-index: 3;
    min-height: 100vh;
    transition: .3s;
}


#setting-box .circle
{
    line-height: 30px;
    background-color: #fff;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 246px;
    top: 58px;
    cursor: pointer;
    z-index: 3;
}


#setting-box #content h4
{
    color: #000;
    font-size: 24px;
    margin-left: 6px;
    margin-top:5px;
}

#setting-box #content ul
{
    margin-top: 5px;
    width: 170px;
    padding-left: 5px;
    list-style: circle;
    display: flex;
}

#setting-box #content ul li
{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 3px;
}

#setting-box #content ul li:first-child
{
    background-color:#ce8120 ;
}

#setting-box #content ul li:nth-child(2)
{
    background-color:#C51162 ;
}
#setting-box #content ul li:nth-child(3)
{
    background-color:#880E4F ;
}
#setting-box #content ul li:nth-child(4)
{
    background-color:#6A1B9A ;
}
#setting-box #content ul li:nth-child(5)
{
    background-color: #311B92;
}

#colorBox h4  
{
    margin-bottom: 10px;
    font-size: 24px;;
    text-align: center;
}

#colorBox
{
    background-color: #b0b0b0;
    width: 225px;
    margin-top: 55px;
    margin-left: 9px;
    height: 78px;
}
#colorBox ul
{
    margin-left: 13%;
}

#setting-box #backbox,
#setting-box #bulletbox
{
    background-color: #b0b0b0;
    width: 225px;
    margin-top: 20px;
    margin-left: 9px;
    height: 78px;
}

#setting-box #backbox h3,
#setting-box #bulletbox h3
{
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

#setting-box #backbox div,
#setting-box #bulletbox div
{
    opacity: .5;
    margin-top: 4%;;
    background-color: #009624;
    width: 56px;
    height: 22px;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}

#setting-box #backbox #yes,
#setting-box #bulletbox #yes
{
    margin-left: 51px;
    opacity: 1;  
}


#container
{
    width: 90%;
    margin: 50px auto;
    display: flex;
}

#imgbox
{
    width: 450px;
    height: 400px;
}
#imgbox img{
    width: 530px;
    height: 400px;
    
}

#container #infobox
{
margin-right: 70px;
}

#container #infobox h2,#container #infobox p
{
    color: black;
}

#container #infobox h2
{
    color: var(--main-);
    font-size: 40px;
    margin: 30px auto;
    margin-top: 50px;
}

#container #infobox p
{
    font-size: 24px;
    line-height: 58px;
    font-weight: 600;
}

#big-box
{
    padding: 4%;
    width: 100%;
    margin: 60px auto;
    background-color: #f7f7f7ce;
}

#big-box h2
{
    text-align: center;
    color: var(--main-);
    font-size: 32px;
    margin-bottom: 30px;
}

#big-box #small-box
{

    height: 55px;
    width: 65%;
    margin: 30px 5px 30px 10px;
    background-color: #fff;
}

#big-box #small-box h3
{
    margin-left: 20px;
    font-size: 25px;
    line-height: 55px;
    display: inline;
    color: #000;
}

#big-box #small-box h3 span
{
    color: #000;
    float: right;
    margin-right: 10px;
}

#big-box #small-box #progress
{
    background-color: #f7f7f7ce;
    width: 80%;
    height: 30px;
    float: right;
    margin: 13px 10px 0 5px;
}

#big-box #small-box #progress #progressed
{
    width: 0%;
    height: 100%;
    background-color:var(--main-);
}

#box-img img
{
    width: 25%;
    float: right;
}

/*#gallry


}*/

#gallry #container
{
    width: 90%;
    margin: 50px auto;
    display: flex;
}

#gallry  h2
{
    height: 80px;
    
    text-align: center;
    color: var(--main-);
    font-size: 32px;
    margin-bottom: 30px;
}

#gallry #container #imgbox
{
    width: 100%;
}

#gallry #container #imgbox img{
    width: 328px;
    height: 190px; 
    padding: 4px;
    border: 1px solid var(--main-);
    margin: 5px;
    cursor: pointer;
}

#overlav 
{
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    background-color:#706f6f85;
    z-index: 1000;
} 

#popbox
{
    position: relative;
    margin-top: 10%;
    margin-left:28% ;
    width: 600px;
    height: 450px;
    border: 2px solid var(--main-);
    background-color: #fff;
}

#popbox img
{
    padding-left: 5px;
    width: 99%;
    
    height: 300px;
    
}

#popbox h2:first-child
{
    color: black;
    text-align: center;
    font-size: 24px;;
    padding: 4px;
    margin-top: 5px;    
}

#popbox #closebox
{
    cursor: pointer;
    position: absolute;
    right: -14px;
    top: -12px;
    width: 30px;
    height: 30px;
    background-color: var(--main-);
    border-radius: 50%;
}

#popbox #closebox p
{
    font-weight: bold;
    font-size: 24px;
    color: #000;
    text-align: center;    
}

#descri
{
    margin-left: 5px;
    line-height: 20px;
    color: #000;
    font-size: 18px;
}

#deshead
{
    margin-top: 7px;
    margin-left: 5px;
    color: #000;
}

/* agdsvjkads;mlgjrfkellllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */

#timeline
{
    
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f7f7f7ce;
}

#timeline #container #content
{
    position: relative;
    overflow: hidden;
}

#timeline #container #content:before
{
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background-color: var(--main-);
    left: 50%;
    margin-left: -1px;
    top: 0;
    z-index: 1;
}

#timeline #container #content #year
{
    padding: 3px;
    font-weight: 400;
    font-size: 18px;;
    line-height: 50px;
    text-align: center;
    margin: 30px auto;
    background-color: var(--main-);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#timeline #container #content #lift,
#timeline #container #content #right
{
    width: 48%;
    position: relative;
    margin-bottom: 40px;
}

#timeline #container #content #lift
{
    float: left;
}

#timeline #container #content #right
{
    padding-left: 7px;
    float: right;
}

#timeline #container #content #lift h3,
#timeline #container #content #right h3
{
    color: var(--main-);
    font-weight: bold;
    font-size: 26px;
}

#timeline #container #content #lift p,
#timeline #container #content #right p
{
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

#timeline #container #content #lift::before,
#timeline #container #content #right::before
{
    position: absolute;
    top: 52px;
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--main-);
}

#timeline #container #content #lift::before
{
    right: -27px;
}

#timeline #container #content #right::before
{
    left: -27px;
}

#timeline hr{
    color: var(--main-);
    height: 3px;
    margin-top: -51px;
    background-color: var(--main-);
}

#ourfeature
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}

#ourfeature  h1
{
    margin-bottom: 40px;
    text-align: center;
    color: var(--main-);
    font-size: 39px;
    font-weight: bold;   
}

#ourfeature #continer
{
    max-width: 80%;
    margin: 10px auto;
}

#ourfeature #continer #box
{
    position: relative;
    margin-bottom: 100px;
    float: left;
    box-shadow: 0 0 10px var(--main-);
    border: 1.5px solid var(--main-) ;
    border-radius: 10px;
    padding: 8px;
    margin-right: 18%;
    max-width: 21%;
}
#ourfeature #continer #box:nth-child(3)
{
    margin-right: 0;
}
#ourfeature #continer #box:nth-child(6)
{
    margin-right: 0;
}
#ourfeature #continer #box img
{
    max-width: 100%;
}

#ourfeature #continer #box h3::before
{
    height: 1.3px;
    width: 70px;
    content: "";
    background-color: var(--main-);
    position: absolute;
    top: 77.5%;
    right: 36%;
}
#ourfeature #continer #box h3
{
    text-align: center;
    color: var(--main-);
    font-size: 24px;;
}

#ourfeature #continer #box p
{
    margin: 5px;
    margin-top: 20px;
    text-align: center;
color: #000;;
font-size: 16px;;
font-weight: 600;
}

#testdes
{
    width: 100%;
    background-color: #f7f7f7ce;
    padding-top: 50px;
    padding-bottom: 50px;
}

#testdes h2
{
    margin: 20px;
font-size: 44px;
margin-left:10% ;
color: var(--main-);

}

#testdes #container
{
    display: block;
    width: 80%;
    margin: 20px auto;
}

#testdes #container #box:nth-child(2),
#testdes #container #box:nth-child(4)
{
    margin-right: 0;
}

#testdes #container #box
{
    opacity: 0;
    box-shadow: 0 0 10px var(--main-);
    min-width: 37%;
    display: inline-block;
    background-color: #fff;
    max-width: 37%;
    height:150px ;
    margin-right: 20%;
    margin-bottom: 10%;
}

#testdes #container #box #line
{
    float: left;
    width: 4px;
    height: 100%;
    background-color: var(--main-);
}


#testdes #container #box img
{
    left: 20px;
    float: left;
    max-width: 100%;
    max-height: 100%;
}

#testdes #container #box h4
{
    margin: 5px;
    margin-left: 35%;
    font-size: 20px;
    font-weight: 300;
    color: #000;
}

#testdes #container #box h5
{
    margin: 5px;
    margin-left: 35%;
    color: #000;
}

#testdes #container #box p 
{
    margin: 5px;    
    margin-left: 35%;
    color: #000;
}

#bullets
{
    z-index: 6;
    height: auto;
    position: fixed;
    right: 5px;
    bottom: 30px;
}
#bullets li
{
position: relative;
display: block;
cursor: pointer;
margin-bottom: 5px;
border: 2px solid var(--main-);
border-radius: 50%;
height: 20px;
width: 20px;
}

#bullets li div{
    display: none;
    position: absolute;
    cursor: pointer;
    background-color: var(--main-);
    width:80px;
    height: 20px;
    text-align: center;
    right: 28px;;
    top: -2px;
}

#bullets li div::before
{
    
    position: absolute;
    content: "";
    border-style: solid;
    border-color: transparent transparent transparent var(--main-);
    border-width: 10px;
    height: 0;
    width: 0;
    right: -19px;
}

#bullets li:hover  div
{
    display: block;
}

#contact
{
    background-image: url(b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
}

#contact #overlay
{
    background-color: #000000ba;
    min-width: 100%;
    min-height: 102.4%;
}

#contact #contain
{

    padding-top: 124px;
    width: 80%;
    margin: 00px auto;
    position: relative;
    z-index: 2;
}

#contact #contain h2{
    text-align: center;
    padding-top: 40px;
    color: var(--main-);
    font-size: 38px;
    font-weight: boid;
}

#contact #contain input:not([id="send"])
{
    color: #000;
    font-size: 16px;
    background-color: #000;
    width: 300px;
    height: 40px;
    padding: 5px;
    display: block;
    margin:10px;
}

#contact #contain #rightcol,
#contact #contain #leftcol
{
    margin-top: 140px;;
    display: inline-block;
}

#contact #contain #leftcol
{
    margin-left: 24%;
}

#contact #contain #rightcol
{   position: absolute;
    margin-left: 2px;
    top: 11px;
}

#contact #contain #rightcol textarea
{
    margin-bottom: -5px;
    height: 91px;
    padding: 5px;
    font-size: 16px;
    color: #000;
    background-color: #000;
    width: 300px;
    margin-left: 10px;
}

#contact #contain #rightcol textarea:focus
{
    
    background-color: #fff;
}

#contact #contain input:focus
{
    color: #000;
    background-color: #fff;
}


#contact #contain form
{
    position: relative;
}

#send
{
    letter-spacing: 4px;
    line-height: 20px;
    background-color: var(--main-);
    color: #000;
    font-size: 24px;
    width: 300px;
    height: 40px;
    padding: 5px;
    display: block;
    margin:10px;
    outline: none;
    margin-left: 38%;
    margin-top: 40px;
}

footer
{
    background-color: #ccc;
    width: 100%;
    height: 60px;
}

footer p{
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    color: #000;
}

footer p span
{
    font-size: 28px;
    color: var(--main-);
}

.fa.fa-gear:before
{
    margin-left: 10px;
    color: #000;
}

























